#Navbar {
  display: flex;
  color: #1c1c1c;
  padding: 10px 10px;
  padding-top: 20px;
  justify-content: space-around;
  /* position: fixed; */
  /* position: absolute; */
  cursor: pointer;
}
.i{
  height: 650px;
  width: 500px;
  margin-left: 5px;
  margin-top: 9px;

}
.j{
  height: 702px;
  width: 500px;
  background-color: black;
   /* margin-left: -24px; */
  margin-top: -85px;
}
#logo {
  margin-left: -30px;
  width: 220px;
  height: 110px;
  margin-top: -5px;
  height: 21px;
}
.categories {
  display: flex;
  gap: 20px;
  margin-left: -60px;
  font-size: 0.82rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  /* border: solid; */
}
.womenhide,
.clothinghide,
.beautyhide,
.kidshide,
#loginhide,
.communityhide,
.offershide,
.homehide,
.menhide {
  background-color: white;
}
.right_side {
  display: flex;
  gap: 20px;
  margin-left: 50px;
}
#class{
  display: flex;
}

#search {
  /* width: 95%; */
  border-bottom: 1px solid;
  margin-left: -10px;
}

#search:focus {
  outline: none;
}

.womenhide {
  display: none;
  margin-top: 34px;
  padding: 10px;
  border-bottom:  0.5px solid grey;
  border-top:  0.5px solid grey;
  z-index: 2;
  position: absolute;
  gap: 30px;
  margin-left: -20px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;

}
.womenhide:hover {
  display: flex;
}
.women:hover ~ .womenhide {
  display: flex;
}
.women:hover {
  border-bottom: solid;
  border-color: rgb(139, 75, 75);
}

.menhide {
  display: none;

  z-index: 2;
  position: absolute;
  gap: 30px;
  margin-left: -20px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 34px;
  padding: 10px;
  border-bottom:  0.5px solid grey;
  border-top:  0.5px solid grey;
}
.menhide:hover {
  display: flex;
}
.men:hover ~ .menhide {
  display: flex;
  
}
.men:hover {
  border-bottom: solid;
  border-color: rgb(139, 75, 75);
}

.beautyhide {
  display: none;
  
  z-index: 2;
  position: absolute;
  gap: 30px;
  margin-left: -20px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 34px;
  padding: 10px;
  border-bottom:  0.5px solid grey;
  border-top:  0.5px solid grey;
}
.beautyhide:hover {
  display: flex;
}
.beauty:hover ~ .beautyhide {
  display: flex;
}
.beauty:hover {
  border-bottom: solid;
  border-color: rgb(139, 75, 75);
}

.kidshide {
  display: none;

  z-index: 2;
  position: absolute;
  gap: 30px;
  margin-left: -20px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 34px;
  padding: 10px;
  border-bottom:  0.5px solid grey;
  border-top:  0.5px solid grey;
}
.kidshide:hover {
  display: flex;
}

.kids:hover ~ .kidshide {
  display: flex;
}
.kids:hover {
  border-bottom: solid;
  border-color: rgb(139, 75, 75);
}

.homehide {
  display: none;
  
  z-index: 2;
  position: absolute;
  gap: 30px;
  margin-left: -50px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 34px;
  padding: 10px;
  border-bottom:  0.5px solid grey;
  border-top:  0.5px solid grey;
}
.home:hover {
  border-bottom: solid;
  border-color: rgb(139, 75, 75);
}
.flex {
  display: flex;
  width: 1200px;
}
.homehide:hover {
  display: flex;
  margin-left: -120px;
}
.flex div:nth-child(1) {
  width: 200px;
  line-height: 30px;
}
.homehide div:nth-child(2) {
  margin-left: 350px;
  line-height: 30px;
}
.homehide div:nth-child(3) {
  margin-left: 350px;
  line-height: 30px;
}
.home:hover ~ .homehide {
  display: flex;
  margin-left: -120px;
}

.offershide {
  display: none;
  
  z-index: 2;
  position: absolute;
  gap: 30px;
  margin-left: -50px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 34px;
  padding: 10px;
  border-bottom:  0.5px solid grey;
  border-top:  0.5px solid grey;
}
.offers:hover {
  border-bottom: solid;
  border-color: rgb(139, 75, 75);
}

.offers:hover ~ .offershide {
  display: flex;
}
.offershide:hover {
  display: flex;
}
.communityhide {
  display: none;
  z-index: 2;
  position: absolute;
  gap: 30px;
  margin-left: -50px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 34px;
  padding: 10px;
  border-bottom:  0.5px solid grey;
  border-top:  0.5px solid grey;
  
}

.community:hover ~ .communityhide {
  display: flex;
}
.communityhide:hover {
  display: flex;
}
.community:hover {
  border-bottom: solid;
  border-color: rgb(139, 75, 75);
}
.designer:hover {
  border-bottom: solid;
  border-color: rgb(139, 75, 75);
}
.whymodesens:hover {
  border-bottom: solid;
  border-color: rgb(139, 75, 75);
}

#loginhide {
  display: none;
  margin-top: 25px;
  position: absolute;
  z-index: 2;
  width: 270px;
  margin-left: -210px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
  padding: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#login:hover ~ #loginhide {
  display: block;
}
#loginhide:hover {
  display: block;
}

.loginimage{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 5px;
}
.inbtn {
  font-weight: bold;
}
